@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

.dsmoke{
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
    
    
}